#heroSection {
    background-image: url("images/hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 56vh;
}

.nav {
    display: flex;
}

.nav-link {
    color: white;
    padding: .5rem 5.5rem;
}

.navbar-brand {
    color: white !important;
    font-family: "Oleo Script Swash Caps";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.nav-item {
    margin-right: 10px; /* Adjust the value as needed */
}

/* To avoid affecting the last item */
.nav-item:last-child {
    margin-right: 0;
}

/* .justify-content-center{
   display: flex;
   justify-content: center;
}  */

.mx-auto {
    margin: auto
}

.heroSectionBottom {
    margin: auto;
    object-fit: contain;
    position: relative;
    bottom: -8px;
}

.subHeading1 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subHeading2 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.chevron {
    width: 45.761px;
    height: 23.5px;
    flex-shrink: 0;
}

.experienceClass {
    color: #FFA300;
    font-family: "Open Sans";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.experienceTypeClass {
    color: #000;
    font-family: "Open Sans";
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardStyle {
    /*filter: brightness(0.2);*/
    width: 25em;
    height: 35em;
    flex-shrink: 0;
    align-items: center;
}

.cardBg1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 87.52%), url('images/airplane-wing.jpg') lightgray 50% / cover no-repeat;
    display: flex; flex-direction: column; justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.cardBg2 {
    display: flex; flex-direction: column; justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 87.52%), url('images/image 10.png') lightgray 50% / cover no-repeat;
    padding-left: 3rem;
    padding-right: 3rem;
}

.cardBg3 {
    display: flex; flex-direction: column; justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 87.52%), url('images/image 11.png') lightgray 50% / cover no-repeat;
    padding-left: 3rem;
    padding-right: 3rem;
}

.cardIcon {
    width: 48.321px;
    height: 48.321px;
    flex-shrink: 0;
}

.cardTitle2 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardContent {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cardButton {
    width: 155px;
    height: 48px;
    flex-shrink: 0;
    background: #F90;
}

.cardButtonText {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#locationCards {
    height: 75vh;
    background: url('images/Hollywood.png') lightgray 50% / cover no-repeat;;
}

.locationCardsRow {
    padding-top: 11rem !important;
}

.locationCardLink {
    color: #108CFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.locationDescription {
    position: relative;
    background-color: #ffffff;
    width: 394px;
    height: 213px;
    flex-shrink: 0;
}

#footerSection {
    height: 75vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.26) 87.52%), url("images/SF-Bridge.png") lightgray 50% / cover no-repeat;
}

.footerForm {
    margin-left: 224px;
    margin-right: 464px;
    padding-top: 300px;
    padding-bottom: 300px;
}

.footerMainHeading {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footerSubHeading {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}